<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="tests" parallel="classes" thread-count="4">
    <test name="Test">
        <classes>
            <class name="tests.GetItemInCartTestTest"/>
            <class name="tests.DeleteItemFromCartTest"/>
            <class name="tests.LoginOnStartPageTest"/>
            <class name="tests.OrderProcessingTest"/>
        </classes>
    </test>
</suite>